{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Player information</title>
    <link type="text/css" href="{% static 'game/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="info">
    <div>
        <p>Имя：{{ user.username }}</p>
        {% if user.sex == F %}
            <p>Пол：женский</p>
        {% else %}
            <p>Пол：мужской</p>
        {% endif %}
        <p>возраст：{{ user.age }} лет</p>
        <p>Почта：{{ user.email }}</p>
    </div>

    {% for operating in operatings %}
        <div class="operating">
            <div>Данные об игре：</div>
            <p>{{ operating.left_accuracy }}</p>
            <p>{{ operating.middle_accuracy }}</p>
            <p>{{ operating.right_accuracy }}</p>
            <p>{{ operating.advantage }}</p>
            {% if operating.level %}
                <p>{{ operating.level }}</p>
            {% else %}
                <p>Нет данных об уровне</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>
