{%  load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Тренировка: Психоэмоциональное напряжение</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      canvas {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      .button3{
        height: 50px;
        width: 100px;
        margin-bottom: 0;
      }
      .aligner2 {
        display: flex;
        justify-content: end;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas" width="3840" height="1700"></canvas>
    <script type="text/javascript" src={% static "game/js/stress_train.js" %}></script>
    <div class = "aligner2">
    <button class = "button3" onclick="location.href = '/choose_train'">Назад</button>
    <button class = "button3" onclick="location.href = '/logout'">Выйти</button>
    </div>
  </body>
</html>
